@model OnlineShop.Models.Category

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Cate_id)
    <div class="col-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Change Brand name</h3>
                <p class="card-description"></p>
                <form class="form-sample">
                    <div class="form-group">
                        <label>Brand name: </label>
                        @Html.EditorFor(model => model.Cate_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cate_name, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" value="Save" class="btn btn-primary mr-2" />
                </form>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
