@model OnlineShop.Models.AdminEmployee

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Create Employee</h3>
                <form class="form-sample">
                    <div class="form-group">
                        @Html.Label("Employee Name", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AE_name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AE_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Employee Password", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.AE_password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AE_password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Employee Phone Number", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.AE_phone, new { @class = "form-control" } )
                            @Html.ValidationMessageFor(model => model.AE_phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Permission", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.TextBox("", new { @class = "form-control", @readonly = "readonly", @Value = "emp" })
                            @Html.ValidationMessageFor(model => model.AE_permission, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
