@model OnlineShop.Models.AdminEmployee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdminEmployee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AE_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AE_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AE_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AE_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AE_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AE_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AE_permission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AE_permission)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AE_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
