@model OnlineShop.Models.Product

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Are you sure you want to delete this?</h2>
                <p class="card-description">
                </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <h4 for="exampleInputUsername1">Category</h4>
                        <p>@Model.Category.Cate_name</p>
                    </div>
                    <div class="form-group">
                        <h4 for="exampleInputEmail1">Brand</h4>
                        <p>@Model.Brand.Brand_name</p>
                    </div>
                    <div class="form-group">
                        <h4 for="exampleInputPassword1">Name</h4>
                        <p>@Model.Product_name</p>
                    </div>
                    <div class="form-group">
                        <h4 for="exampleInputConfirmPassword1">Price</h4>
                        <p>@Model.Price</p>
                    </div>
                    <div class="form-group">
                        <h4 for="exampleInputConfirmPassword1">Date added</h4>
                        <p>@Model.Date_created.ToShortDateString()</p>
                    </div>
                    <div class="form-group">
                        <h4 for="exampleInputConfirmPassword1">Quantity</h4>
                        <p>@Model.Quantity</p>
                    </div>
                    <div class="form-group">
                        <h4 for="exampleInputConfirmPassword1">Detail</h4>
                        <p>@Model.Detail</p>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-gradient-primary mr-2" />
                            <a href="/Admin/Product" class="btn btn-light">Cancel</a>
                            @*@Html.ActionLink("Back to List", "Index")*@
                        </div>
                    }
                    @*<button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>*@
                </form>
            </div>
        </div>
    </div>


    @*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }*@
</div>
