@model OnlineShop.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.Brand_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Brand_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Cate_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Cate_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
